@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

html {
    font-family: Roboto;

    --surface: #fef7ff;
    --header-border: #d9d9d9;
    --border: #79747e;
    --secondary-surface: #e8def8;
    --on-secondary-surface: #4a4459;
    --primary: #6750A4;
}

h1, h2, h3, h4, h5, h6 {
    display: block;
    margin: 0px;
}

.nav-main {
    text-decoration: none;
    color: black;
}

button:hover {
    cursor: pointer;
}

[class*="flex-"] {
    display: flex;
    gap: 16px;
}

.flex-row { flex-direction: row; }
.flex-col { flex-direction: column; }

.page-fill-body {
    margin: 0px;
    gap: 0px;

    box-sizing: border-box;
    height: 100vh;
    padding-bottom: 32px;
    
    background-color: var(--surface);
}

#main-header {
    padding: 16px 64px 16px 64px;
    border-bottom: 1px solid var(--header-border);
}

.profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 32px;
}

#search-bar-container {
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding: 64px 0px;
}

#search-bar-form {
    width: max(40%, min(348px, calc(100% - 32px)));
}

#search-bar, #search-bar:focus {
    width: 100%;
    border-style: none;
    outline: none;
    padding: 16px 32px 16px 32px;
    box-sizing: border-box;
    font-size: 16px;
    border-radius: 32px;
    background-color: var(--secondary-surface);
    color: var(--on-secondary-surface);

    &::placeholder {
        color: var(--on-secondary-surface);
    }
}

#search-button-container {
    position: absolute;
    aspect-ratio: 1; height: 100%;

    top: 0px;
    right: 0px;

    justify-content: center;
    align-items: center;
}

#search-button {
    box-sizing: border-box;
    aspect-ratio: 1; height: 80%;
    outline: none;
    border-style: none;
    border-radius: 64px;
    background-color: transparent;

    justify-content: center;
    align-items: center;

    &:hover {
        background-color: var(--secondary-surface);
        filter: brightness(0.9);
    }
}

#search-button-icon {
    width: 80%; height: 80%;
}

.browse-row {
    border: 1px solid var(--border);
    border-radius: 24px;
    padding: 16px;
    gap: 24px;

    width: 1002px;
    height: 229px;
    box-sizing: border-box;
}

.resource-card {
    padding: 16px;
    border-radius: 16px;
    background-color: var(--secondary-surface);
    position: relative;

}

.resource-preview {
    width: 192px; height: 128px;
    border-radius: 8px;
}

.on-resource-card {
    color: var(--on-secondary-surface);
}

.card-title-row {
    align-items: center;
    gap: 0px;
}

.download-icon {
    width: 18px; height: 18px;
}

.download-icon-large {
    width: 32px; height: 32px;
}

.browse-section {
    padding: 10px;
    gap: 16px;
}

.card-link {
    position: absolute;
    left: 0px; top: 0px;
    width: 100%; height: 100%;
}

.create-account {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.styled-button {
    border: none;
    color: white;
    background-color: var(--primary);
    align-items: flex-end;
    padding: 10px;
    height: fit-content;
    width: 25%;
    min-width: fit-content;
    border-radius: 20px;
}


/* Use this class with a div, input, and label. Will style label to be on top of input box. */
.div-input {
    width: 100%;
    position: relative;
    & > label {
        padding: 2px;
        font-size: 12px;
        position: absolute;
        left: 14px;
        top: 10px;
        background-color: var(--surface);

        &:has(~ .register-input:focus) {
            color: var(--primary);
        }
    }
}

.comment-input {
    resize: vertical;

    border-radius: 16px;
    border-bottom-right-radius: 4px;
}

.register-input {
    height: fit-content;
    width: -webkit-fill-available;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--surface);
    border: 1px solid var(--border);
    &:focus {
        outline: 1px solid var(--primary);
        border-color: var(--primary);
    }
}

.submit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.center {
    justify-content: center;
    align-items: center;
}

.register-form {
    display: flex;
    flex-direction: column;
    width: 75%;
}


/* These next two classes overide the default "upload file" input and replace with a fitting button. */
/* input[type="file"] {
    display: none;
} */

.custom-file-upload {
    margin: 1px;
    padding: 10px;
    border-radius: 20px;
    color: #4A4459;
    background-color: var(--secondary-surface);
    min-width: fit-content;
    font-size: small;

    &:hover {
        cursor:pointer;
    }
}

.file-container {
    padding: 5px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    height: 50%;
    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 10px;

    & > * {
        margin: 3px;
    }
}

.styled-file {
    max-height: 25px;
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-surface);
    color:#79747e;
    width: -webkit-fill-available;
    border-radius: 10px;
    border: none;
    padding: 3px;

   & > img {
        margin-left: 2px;
        margin-right: 2px;
        height: 20px;
    }
}

.tag-container {
    padding: 5px;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: fit-content;
    height: 50%;
    background-color: var(--surface);
    border: 1px solid var(--border);
    border-radius: 10px;

    & > * {
        margin: 3px;
    }
}

.tag {
    max-height: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: var(--secondary-surface);
    color:#79747e;
    width: min-content;
    border-radius: 10px;
    border: none;
    padding: 3px;

   & > img {
        margin-left: 2px;
        margin-right: 2px;
        height: 20px;
    }
    
    & > textarea {
        max-width: 100%;
        border: none;
        background-color: var(--secondary-surface);
        width: 50px;
        resize: horizontal;
        height: 16px;
        margin: 0px;
        font-family: Roboto;
        &:focus {
            border: none;
        }
    } 

}

#resource-tags {
    &:focus {
        border: none;
    }
}

@media only screen and (max-width: 1048px) {
    .browse-row {
        width: 472px;
        flex-wrap: wrap;
    }

    .register {
        flex-direction: column-reverse;

        & div:has(img) {
            width: 100% !important;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & img {
            width: min(400px, calc(80% - 32px));
            height: unset;
            aspect-ratio: 1;
        }
    }

    .create-account {
        width: 100%;
        padding: 0px 16px;
        margin-bottom: 64px;
    }

    .welcome-layout {
        flex-direction:column;
        gap: 20px;
        align-items: stretch !important; /* override center alignment from inline style in welcome.html if any remain*/
    }
    /* override welcome layout sections to be full width on smaller screens */
    .welcome-layout > section {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }

    .profile-layout {
        flex-direction:column;
        gap: 20px;
        align-items: stretch;
    }
    /* override profile layout sections to be full width on smaller screens */
    .profile-layout > section {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }

}

@media only screen and (max-width: 548px) {
    .browse-row {
        width: unset;
        flex-direction: column;
    }
}