.resource-view-container {
    justify-content: center;
    align-items: stretch;
    height: 100%;

    padding: 10px 10px 0px 10px;
    gap: 32px;
}

.spacing {
    width: 8vw;
}

.resource-view {
    flex-grow: 1;
    flex-basis: 0;
    box-sizing: border-box;

    background-color: var(--secondary-surface);
    color: var(--on-secondary-surface);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    padding: 24px;
    gap: 24px;
}

.title-bar-container {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preview {
    width: 100%;
    border-radius: 8px;
    aspect-ratio: 2;
}

.outline-section {
    border: 1px solid var(--border);
    border-radius: 16px;
    background-color: transparent;

    padding: 10px;
    gap: 10px;
}

.styled-file {
    box-sizing: border-box;
    align-items: center;
    background-color: var(--surface);
    max-height: 28px;
}

.icon-button {
    outline: none;
    border: none;
    padding: 2px;

    border-radius: 64px;
    background-color: var(--surface);

    &:hover {
        filter: brightness(0.9);
    }

    & img {
        height: 20px;
    }
}

.tags {
    flex-wrap: wrap;
}

.tag {
    box-sizing: border-box;
    border-radius: 10px;
    padding: 3px 8px;
    align-items: center;
    height: 28px;

    background-color: var(--surface);
}

.resource-comments {
    flex-grow: 1;
    flex-basis: 0;

    padding: 10px;
    gap: 10px;
}

.comment-input {
    resize: vertical;

    border-radius: 16px;
    border-bottom-right-radius: 4px;
}

.comment-container {
    align-items: end;
    gap: 10px;
    & & {
        padding-left: 48px;
    }
}

.comment {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    gap: 10px;

    border: 1px solid var(--border);
    border-radius: 16px;
}

.comment-pfp {
    width: 40px;
    height: 40px;
    border-radius: 40px;
}

.link-button {
    padding: 0px;
    background-color: transparent;
    text-decoration: underline;
    color: var(--border);

    outline: none;
    border: none;
}

@media only screen and (max-width: 1280px) {
    .spacing {
        display: none;
    }

    .resource-view-container {
        margin: 0px 8vw;
        height: unset;
        flex-direction: column;
    }

    .resource-view {
        border-radius: 16px;
    }
}

@media only screen and (max-width: 600px) {
    .resource-view-container {
        margin: 0px 16px;
    }
}